%h2 Sign in
=form_tag sessions_path do 
  <fieldset><legend>Sign in</legend>
.field
  = label_tag :email
  %br/
  = text_field_tag  :email, params[:email], :size => 25, :class => "ui-state-default"
.field
  = label_tag :password
  %br/
  = password_field_tag  :password, :size => 25, :class => "ui-state-default"
  </fieldset>
.actions
  = submit_tag "Sign in", :class => 'signin strong round'
