- provide(:title, 'Sign in')
%h2 Sign in
= form_for(:session, url: sessions_path) do |f|
  <fieldset><legend>Sign in</legend>
  .field
    = f.label :email
    %br/
    = f.text_field :email, :size => 25, :class => "ui-state-default"
  .field
    = f.label :password
    %br/
    = f.password_field :password, :size => 25, :class => "ui-state-default"
  </fieldset>
  .actions
    = f.submit "Sign in", :class => "signin strong round"

