<fieldset><legend>Enter Employee Details</legend>
.field
   = f.label :name, "First Name"
   %br/
   = f.text_field  :first_name, :size => 15, :class => "ui-state-default"
.field
   = f.label :name, "MI"
   %br/
   = f.text_field  :mi, :size => 3, :class => "ui-state-default"
.field
   = f.label :name, "Last Name"
   %br/
   = f.text_field  :last_name, :size => 15, :class => "ui-state-default"
.field
   = f.label :name, "Marital Status"
   %br/
   = f.text_field  :marital_status, :size => 8, :class => "ui-state-default"
.field
   = f.label :name, "Gender"
   %br/
   = f.text_field  :gender, :size => 8, :class => "ui-state-default"
.field
   = f.label :name, "Primary Position"
   %br/
   = f.text_field  :primary_position, :size => 15, :class => "ui-state-default"
.field
   = f.label :name,  "Trained Position"
   %br/
   = f.text_field  :trained_position, :size => 15, :class => "ui-state-default"
.field
   = f.label :name,  "Role"
   %br/
   = f.text_field  :role, :size => 15, :class => "ui-state-default"
.field
   = f.label :name, "Birth Date"
   %br/
   = f.text_field  :birth_date, :size => 12, :class => "ui-state-default"
   %br/
.field
   = f.label :name, "Hire Date"
   %br/
   = f.text_field  :hire_date, :size => 12,  :class => "ui-state-default"
.field
   = f.label :name, "Term Date"
   %br/
   = f.text_field  :term_date, :size => 12, :class => "ui-state-default"
.field
   = f.label :email
   %br/
   = f.text_field  :email, :size => 25, :class => "ui-state-default"
.field
   = f.label :name,  "Address1"
   %br/
   = f.text_field  :address1, :size => 25, :class => "ui-state-default"
.field
   = f.label :name,  "Address2"
   %br/
   = f.text_field  :address2, :size => 25, :class => "ui-state-default"
.field
   = f.label :name, "City"
   %br/
   = f.text_field  :city, :size => 15, :class => "ui-state-default"
.field
   = f.label :name, "Zip Code"
   %br/
   = f.text_field  :zip_code, :size => 10, :class => "ui-state-default"
.field
   = f.label :name, "State"
   %br/
   = f.text_field  :state, :size => 3, :class => "ui-state-default"
.field
   = f.label :name, "EmpHomePhone"
   %br/
   = f.text_field  :emp_home_ph, :size => 15, :class => "ui-state-default"
.field
   = f.label :name, "EmpMobilePhone"
   %br/
   = f.text_field  :emp_mobile_ph, :size => 15, :class => "ui-state-default"
.field
   = f.label :active
   %br/
   = f.check_box  :active
.field
   = f.label :admin
   %br/
   = f.check_box  :admin
</fieldset>
<fieldset><legend>Emergency Contact</legend>
.field
   = f.label :name, "EmerContactFirstN"
   %br/
   = f.text_field  :emer_contact_first_name, :size => 15, :class => "ui-state-default"
.field
   = f.label :name, "EmerContactLastN"
   %br/
   = f.text_field  :emer_contact_last_name, :size => 15, :class => "ui-state-default"
.field
   = f.label :name, "EmerContactRel"
   %br/
   = f.text_field  :emer_contact_relationship, :size => 10, :class => "ui-state-default"
.field
   = f.label :name, "Emer Contact Phone"
   %br/
   = f.text_field  :emer_contact_ph, :size => 15, :class => "ui-state-default"
</fieldset>
<fieldset><legend>Password</legend>
.field
   = f.label :name, "Password"
   %br/
   = f.password_field  :password, :size => 25, :class => "ui-state-default"
.field
   = f.label :password_confirmation, "Confirmation"
   %br/
   = f.password_field :password_confirmation, :size => 25, :class => "ui-state-default"
</fieldset>
