.field
  = client.label :name
  %br
  = client.text_field :name, data: {autocomplete_source: client_list_path}, :size => 15, :class => "ui-state-default"
.field
  = client.label :birth_date, "Birth Date"
  %br
  = client.text_field :birth_date, :size => 15, :class => "ui-state-default"
.field
  = client.label :address1, "Address"
  %br
  = client.text_field :address1, :size => 15, :class => "ui-state-default"
.field
  = client.label :address2, "Address"
  %br
  = client.text_field :address2, :size => 15, :class => "ui-state-default"
.field
  = client.label :city
  %br
  = client.text_field :city, :size => 15, :class => "ui-state-default"
.field
  = client.label :state, "State"
  %br
  = client.text_field :state, :size => 15, :class => "ui-state-default"
.field
  = client.label :zip_code, "Zip Code"
  %br
  = client.text_field :zip_code, :size => 15, :class => "ui-state-default"
.field
  = client.label :medicare_num
  %br
  = client.text_field :medicare_num, :size => 15, :class => "ui-state-default"
.field
  = client.label :medicaid_num
  %br
  = client.text_field :medicaid_num, :size => 15, :class => "ui-state-default"  
.field
  = client.label :member_num
  %br
  = client.text_field :member_num, :size => 15, :class => "ui-state-default"
.field
  = client.label :soc_sec_care_mgr
  %br
  = client.text_field :soc_sec_care_mgr, :size => 15, :class => "ui-state-default"
.field
  = client.label :sscm_ph
  %br
  = client.text_field :sscm_ph, :size => 15, :class => "ui-state-default"
.field
  = client.label :nurse_care_mgr
  %br
  = client.text_field :nurse_care_mgr, :size => 15, :class => "ui-state-default"
.field
  = client.label :ncm_ph
  %br
  = client.text_field :ncm_ph, :size => 15, :class => "ui-state-default"
.field
  = client.label :emer_contact
  %br
  = client.text_field :emer_contact, :size => 15, :class => "ui-state-default"
.field
  = client.label :ec_ph
  %br
  = client.text_field :ec_ph, :size => 15, :class => "ui-state-default"
.field
  = client.label :pri_care_phy
  %br
  = client.text_field :pri_care_phy, :size => 15, :class => "ui-state-default"
.field
  = client.label :pcp_ph
  %br
  = client.text_field :pcp_ph, :size => 15, :class => "ui-state-default"
