.field
  = client.label :name, "First Name"
  %br/
  = client.text_field :f_name, :size => 15, :class => "ui-state-default"
.field
  = client.label :name, "MI"
  %br/
  = client.text_field :mi, :size => 3, :class => "ui-state-default"
.field
  = client.label :name, "Last Name"
  %br/
  = client.text_field :l_name, :size => 15, :class => "ui-state-default"