<fieldset><legend>Enter Contract Details</legend>
.field
  = contract.label :name, "AuthNum"
  %br/
  = contract.text_field  :authnum, :size => 10, :class => "ui-state-default"
.field
  = contract.label :name, "Start Date"
  %br/
  = contract.text_field  :st_date, :size => 12, :class => "ui-state-default"
.field
  = contract.label :name, "End Date"
  %br/
  = contract.text_field  :end_date, :size => 12, :class => "ui-state-default"
</fieldset>
<fieldset><legend>Enter Client Details</legend>
= contract.fields_for :clients do |client|
  .field
    = client.label :name, "First Name"
    %br/
    = client.text_field :f_name, :size => 15, :class => "ui-state-default"
  .field
    = client.label :name, "MI"
    %br/
    = client.text_field :mi, :size => 3, :class => "ui-state-default"
  .field
    = client.label :name, "Last Name"
    %br/
    = client.text_field :l_name, :size => 15, :class => "ui-state-default"
  .field
    = client.label :name, "Birth Date"
    %br/
    = client.text_field :birth_date, :size => 12, :class => "ui-state-default"
  .field
    = client.label :name, "Address1"
    %br/
    = client.text_field :address1, :size => 25, :class => "ui-state-default"
  .field
    = client.label :name, "Address2"
    %br/
    = client.text_field :address2, :size => 25, :class => "ui-state-default"
  .field
    = client.label :name, "City"
    %br/
    = client.text_field :city, :size => 15, :class => "ui-state-default"
  .field
    = client.label :name, "ZipCode"
    %br/
    = client.text_field :zip_code, :size => 10, :class => "ui-state-default"
  .field
    = client.label :name, "State"
    %br/
    = client.text_field :state, :size => 15, :class => "ui-state-default"
  .field
    = client.label :name, "MedicareNum"
    %br/
    = client.text_field :medicare_num, :size => 20, :class => "ui-state-default"
  .field
    = client.label :name, "MedicaidNum"
    %br/
    = client.text_field :medicaid_num, :size => 20, :class => "ui-state-default"
  .field
    = client.label :name, "MemberNum"
    %br/
    = client.text_field :member_num, :size => 20, :class => "ui-state-default"
  .field
    = client.label :name, "SocSecCareMgr"
    %br/
    = client.text_field :soc_sec_care_mgr, :size => 20, :class => "ui-state-default"
  .field
    = client.label :name, "SSCM_Ph"
    %br/
    = client.text_field :sscm_ph, :size => 15, :class => "ui-state-default"
  .field
    = client.label :name, "NurseCareMgr"
    %br/
    = client.text_field :nurse_care_mgr, :size => 20, :class => "ui-state-default"
  .field
    = client.label :name, "NCM_Ph"
    %br/
    = client.text_field :ncm_ph, :size => 15, :class => "ui-state-default"
  .field
    = client.label :name, "EmergencyContact"
    %br/
    = client.text_field :emer_contact, :size => 20, :class => "ui-state-default"
  .field
    = client.label :name, "EC_Ph"
    %br/
    = client.text_field :ec_ph, :size => 15, :class => "ui-state-default"
  .field
    = client.label :name, "PrimaryCarePhy"
    %br/
    = client.text_field :pri_care_phy, :size => 20, :class => "ui-state-default"
  .field
    = client.label :name, "PCP_Ph"
    %br/
    = client.text_field :pcp_ph, :size => 15, :class => "ui-state-default"
</fieldset>
<fieldset><legend>Enter Billing Code Details</legend>
= contract.fields_for :codes do |code|
  .field
    = code.label :name, "Code Name"
    %br/
    = code.text_field :code_name, :size => 15, :class => "ui-state-default"
  .field
    = code.label :name, "Status"
    %br/
    = code.text_field :status, :size => 10, :class => "ui-state-default"
  .field
    = code.label :name, "Description"
    %br/
    = code.text_field :description, :size => 25, :class => "ui-state-default"
= contract.fields_for :codelines, @contract.codelines do |codeline|
  .field
    = codeline.label :name, "Units Alloc"
    %br/
    = codeline.text_field :units_alloc, :precision => 6, :scale => 2, :size => 10, :class => "ui-state-default"
</fieldset>
