- provide(:title, "Contracts")
%h3
= @contract.authnum
= @contract.client.name
%span1
%ol
  - for codeline in @contract.codelines
    %li= codeline.units_alloc
    %li= codeline.code.code_name
    %li= codeline.code.status
    %li= codeline.code.description