- provide(:title, "Contracts")
%h3
  - @contract.clients.each do |client|
    = client.cli_full_name
    %span1
      = @contract.authnum
    %ol
      - for code in @contract.codes
        %li= code.codename
        %li= code.status
        %li= code.description
      - for codelines in @contract.codelines
        %li= codelines.units_alloc
