- provide(:title, "Contracts")
%h3
= @contract.authnum
= @contract.client.cli_full_name
%span1
%ol
  - for code in @contract.codes
    %li= code.code_name
    %li= code.status
    %li= code.description
    - for codelines in @contract.codelines
      %li= codelines.units_alloc
