.field
  = code.label :name, "Code Name"
  %br/
  = code.text_field :code_name, :size => 15, :class => "ui-state-default"
.field
  = code.label :name, "Status"
  %br/
  = code.text_field :status, :size => 10, :class => "ui-state-default"
.field
  = code.label :name, "Description"
  %br/
  = code.text_field :description, :size => 25, :class => "ui-state-default"