<fieldset><legend>Enter Billing Code Details</legend>
.field
  = code.label :name, "Code Name"
  %br/
  = code.text_field :code_name, :size => 15, :class => "ui-state-default"
.field
  = code.label :name, "Status"
  %br/
  = code.text_field :status, :size => 10, :class => "ui-state-default"
.field
  = code.label :name, "Description"
  %br/
  = code.text_field :description, :size => 25, :class => "ui-state-default"
= code.fields_for :codelines do |codeline|
  .field
    = codeline.label :name, "Units Alloc"
    %br/
    = codeline.text_field :units_alloc, :precision => 6, :scale => 2, :size => 10, :class => "ui-state-default"
</fieldset>
<fieldset><legend>Enter Contract Details</legend>
= code.fields_for :contracts do |contract|
  .field
    = contract.label :name, "AuthNum"
    %br/
    = contract.text_field  :authnum, :size => 10, :class => "ui-state-default"
  .field
    = contract.label :name, "Start Date"
    %br/
    = contract.text_field  :st_date, :size => 12, :class => "ui-state-default"
  .field
    = contract.label :name, "End Date"
    %br/
    = contract.text_field  :end_date, :size => 12, :class => "ui-state-default"
</fieldset>