<header class="round">
<%= link_to logo, root_path %>
<div id="heading"> TIME AND IT'S COST </div>
<nav class="round">
<ul>
    <li><strong class="round"><%= link_to "Home", root_path %></strong></li>
    <li><strong class="round"><%= link_to "Help", help_path %></strong></li>
    <li><strong class="round"><%= link_to "New Employee", newemployee_path %></strong></li>
    <li><strong class="round"><%= link_to "Sign in", '#' %></li>
  </ul>
</nav>
