<header class="round">
<%= link_to logo, root_path %>
<div id="heading"> TIME AND IT'S COST </div>
<nav class="round">
<ul>
    <li><strong class="round"><%= link_to "Home", root_path %></strong></li>
    <li><strong class="round"><%= link_to "Help", help_path %></strong></li>
    <% if signed_in? && current_employee.admin? %>
      <li><strong class="round"><%= link_to "New Employee", newemployee_path %></strong></li>
      <li><strong class="round"><%= link_to "New Contract", newcontract_path %></strong></li>
      <li><strong class="round"><%= link_to "Employees", employees_path %></strong></li>
      <li><strong class="round"><%= link_to "Profile", current_employee %></strong></li>
      <li><strong class="round"><%= link_to "Settings", edit_employee_path(current_employee) %></li>
      <li><strong class="round"><%= link_to "Sign out", signout_path, method: :delete %></strong></li>
    <% else %>
      <% if signed_in? && current_employee.admin? != true %>
        <li><strong class="round"><%= link_to "Profile", current_employee %></strong></li>
        <li><strong class="round"><%= link_to "Settings", edit_employee_path(current_employee) %></li>
        <li><strong class="round"><%= link_to "Sign out", signout_path, method: :delete %></strong></li>
      <% else %>
      <li><strong class="round"><%= link_to "Sign in", signin_path %></strong></li>
      <% end %>
    <% end %>
  </ul>
</nav>