<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <%= csrf_meta_tag %>
      <%= render :partial => 'layouts/stylesheets' %>
  </head>
  <body>
      <div id="page" class="round"><div id="page2" class="round">
        <%= render :partial => 'layouts/header' %>
        <section class="round">
          <% flash.each do |key, value| %>
            <%= content_tag(:div, value, :class => "flash #{key}") %>
          <% end %>
          <%= yield %>
        </section>
        <%= render :partial => 'layouts/footer' %>
      </div></div>
      <div id ="debug">
        <%= debug(params) if Rails.env.development? %>
      </div>
  </body>
</html>
